{% extends 'layout.html' %}

{% block head %}
    <title> Pesquisa de Conceitos </title>

{% endblock %}


{% block body %}

    <h1> Pesquisar conceito </h1>


    <form action="/pesquisar" method="POST">
    <div class="mb-3">
        <label for="palavra" class="form-label">Query de Pesquisar</label>
        <input type="text" class="form-control" id="palavra" name="palavra">
    </div> 
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="on" id="word-boundary" name="word-boundary">
        <label class="form-check-label" for="word-boundary">
        Word Boundary
        </label>
    </div> <br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="on" id="case-sensitive" name="case-sensitive">
        <label class="form-check-label" for="case-sensitive">
        Case Sensitive
        </label>
    </div> <br>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>

    {% if conceitos %}
        {% for c in conceitos %}
        <!-- Necessário o |safe para permitir o uso das tags no template do jinja, caso contrário aparecem escritas as tags de forma literal-->
        <h3>{{ c.designacao|safe }}</h3>
        <p>{{ c.descricao|safe }}</p>
        <hr>
        {% endfor %}
    {% endif %}

{% endblock %}