{% extends 'layout.html' %}

{% block head %}
    <title> Tabela de conceitos </title>

{% endblock %}


{% block body %}


<table id="tabela_conceitos" class="display">
        <thead>
            <tr>
                <th>Designação</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for conceito in conceitos %}
            <tr> 
                <td>{{conceito}}</td>
                <td>{{conceitos[conceito]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
